.background {
  width: 100vw;
  height: 100vh;
  background-image: var(--theme__overlay), var(--bg-mobile);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow:hidden;
}


@media (min-width: 450px) {
  .background {
    background-image: var(--theme__overlay), var(--bg-tablet);
  }
}

@media (min-width: 900px) {
  .background {
    background-image: var(--theme__overlay), var(--bg-desktop);
  }
}
