.background {
  width: 100vw;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--bg-mobile__daytime);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow:hidden;
}



@media (min-width: 450px) {
  .background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--bg-tablet__daytime);
  }
}

@media (min-width: 900px) {
  .background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--bg-desktop__daytime);
  }
}
