.container {
  display: flex;
  padding-bottom: 2.5rem;
}

.button {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 0.13rem;
  border-radius: 32px;
  color: rgb(var(--color__dark-grey));
  background-color: rgba(var(--color__white));
  cursor: pointer;
}

.button > svg {
  height: 40px;
  transform: rotate(180deg) scale(0.92);
  transform-origin: center;
  transition: transform 500ms;
}
.button > svg.rotate_half {

  transform: scale(0.92);
}

.text {
  grid-column-start: 1;
  grid-row-start: 1;
  color: rgb(var(--color__grey));
  display: inline-block;
  padding: 0 0.5rem 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.234rem;
  font-weight: 800;
  opacity: 1;
  transition: opacity 500ms;
}
.text__hide {
  opacity: 0;
}

.rotate_half {
  transform: rotate(180deg) scale(0.92);
}

@media (min-width: 450px) {
  .container {
    display: flex;
    padding-bottom: 4rem;
  }
}

@media (min-width: 1000px) {
  .container {
    padding-bottom: 0;
  }
}
