.quote {
    color: white;
}

.quote__container {
    display: flex;
    justify-content: space-between;
    max-width: 40ch;
}
.quote__container > img {
    width: 16px;
    height: 16px;
}

.quote__text > *:first-child {
    padding-bottom: 0.375rem;
}