.quote {
    color: white;
}

.quote__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 40ch;
    padding: 2rem 0rem;
}

.quote__text > *:first-child {
    padding-bottom: 0.375rem;
}


.quote__refreshbutton > svg, .quote__refreshbutton > img {
    width: 24px;
    height: 24px;
}

@media (min-width: 450px) {
  .quote__container {
    max-width: 38.75rem;
  }
  .quote__refreshbutton > svg, .quote__refreshbutton > img {
    width: 32px;
    height: 32px;
}
.quote__text > *:first-child {
  padding-bottom: 0.8125rem;
}
}
@media (min-width: 1000px) {
  .quote__container {
    padding-top: 3.5rem;
  }
}
