.container {
  display: grid;
  gap: 1rem;
  padding-bottom: 3rem;
}

.time {
  display: flex;
  align-items: flex-end;
}

.timetext {
    font-weight: 800;
    font-size: clamp(3rem, 25vw, 6.25rem);
    line-height: 6.25rem;
    letter-spacing: -0.156rem;
}

.timezone {
  margin-left: 0.4rem;
  font-weight: 200;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  letter-spacing: 0.1875rem;
}

.greeting__container {
  display: flex;
  align-items: center;
}
.greeting__container > svg {
  height: 1.75rem;
  margin-right: 0.5rem;
  /* width: 1rem; */
  /* padding-right: 1rem; */
}

.greeting__text {
  text-transform: uppercase;
  font-weight: 200;
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 0.1875rem;
}

.greeting__text__hide {
  display: none;
}

.location__container {
  font-size: 0.9375rem;
  letter-spacing: 0.1875rem;
}

@media (min-width: 450px) {
  .container{
    gap: 0.5rem;
  }
  .timetext {
    font-size: clamp(6.25rem, 25vw, 12.5rem);
    line-height: 0.8;
    letter-spacing: -0.31rem;
    padding-top: 1.5rem;
  }
  .timezone {
    font-size: 2.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.1875rem;
  }
  .greeting__text {
      font-size: 0.9375rem;
      line-height: 1.75rem;
      letter-spacing: 0.1875rem;

  }

}

@media (min-width: 600px) {
  .greeting__text__hide {
    display: inline-block;
  }
}

@media (min-width: 1000px) {
  .container {
    padding-bottom: 0;
  }
  .timezone {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 0.1875rem;
}

  .timetext {
    font-size: clamp(8rem, 16vw, 12.5rem);
    line-height: clamp(7rem, 15vw, 10rem);
    letter-spacing: -0.31rem;
}
  .greeting__text {
    font-size: 0.9375rem;
    line-height: 1.75rem;
    letter-spacing: 0.1875rem;
}
}
