.base {
    transition: transform 500ms;
    transform: translateY(0);
}

.slide {
    transform: translateY(-31vh);
}




@media (min-width: 900px) {
    .slide {
        transform: translateY(-45vh);
    }
}
