.base {
    transition: transform 500ms;
    transform: translateY(6vh);
}

.slide {
    transform: translateY(-35vh);
}

@media (min-width: 900px) {
  .base {
    transform: translateY(0);
}
}


@media (min-width: 900px) {
    .slide {
        transform: translateY(-45vh);
    }
}
